<!DOCTYPE html>
<html lang="en" data-theme="winter">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exam</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <header>
        <div class="navbar ">
          <div class="flex-1">
            <img class="w-24 rounded-full ml-32" src="/images/logo.png" alt="logo">
          </div>
          <div class="flex-none">
            <ul class="menu menu-horizontal p-0">
              <li><a href="/completed" class="mr-32 border-solid border-2 border-sky-700">Exam Overview</a></li>
            </ul>
          </div>
        </div>
      </header>
      <div class="flex flex-col items-center">
        <h1 class="text-3xl font-bold pb-8">Exam # <%= sess %></h1>
      </div>
      <section class="ml-32 text-2xl pb-8 mr-32">  
            <form action="/post/<%=bank._id%>" method="POST">
                <fieldset> 
                    <h2 data-id="<%=bank.TestQuestion%>" 
                        value="<%=bank.TestQuestion%>">Question: 
                        <div class="pt-4">
                            <%= bank.question %>
                        </div>
                    </h2>
                        <div class="question p-4">
                            <div >
                                <label class="label cursor-pointer justify-start" for="a"> 
                                <input type="radio" class="radio radio-primary" name ='answer' id="a" value="<%= bank.a %>"  <%= bank.selected === bank.a ? 'checked' : "" %>>
                                <span class="pl-8">A: <%= bank.a %></span> 
                                </label>
                            </div>
                            <div>
                                <label class="label cursor-pointer justify-start" for="b"> 
                                <input type="radio" class="radio radio-primary" name ='answer' id="b" value="<%= bank.b %>"  <%= bank.selected === bank.b ? 'checked' : "" %>>
                                <span class="pl-8">B: <%= bank.b %></span> 
                                </label>
                            </div>
                            <div>
                                <label class="label cursor-pointer justify-start" for="c"> 
                                <input type="radio" class="radio radio-primary" name ='answer' id="c" value="<%= bank.c %>"  <%= bank.selected === bank.c ? 'checked' : "" %>>
                                <span class="pl-8">C: <%= bank.c %></span> 
                                </label>
                            </div>
                            <div>
                                <label class="label cursor-pointer justify-start" for="d"> 
                                <input type="radio" class="radio radio-primary" name ='answer' id="d" value="<%= bank.d %>"  <%= bank.selected === bank.d ? 'checked' : "" %>>
                                <span class="pl-8">D: <%= bank.d %></span> 
                                </label>
                            </div>
                        </div>
                </fieldset>
            <button type="submit" class="btn btn-primary bg-blue-400 mt-8 text-slate-200" >Submit</button>
        </form>
    </section>
</body>
</html>