<!DOCTYPE html>
<html lang="en" data-theme="winter">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finished Exam</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/css/style.css">

    <script src="https://cdn.tailwindcss.com"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7333055422426661"
    crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="navbar ">
          <div class="flex-1">
            <img class="w-24 rounded-full ml-32" src="/images/logo.png" alt="logo">
          </div>
          <div class="flex-none">
            <ul class="menu menu-horizontal p-0">
              <li><a href="/profile" class="mr-32 border-solid border-2 border-sky-700">Home</a></li>
            </ul>
          </div>
        </div>
      </header>
    <div>
        <div class="flex flex-col items-center">
            <h1 class="text-3xl font-bold pb-8">Exam #<%=examNumber%> Review</h1>
            <h2 class="text-2xl font-bold pb-4" >Please scroll down to review your answers and submit. Or not.</h2>
            <footer class="pt-8 pb-8 flex justify-center">
                <a href="/final"><Button class="btn btn-primary btn-wide">Submit Final Answers</Button></a>
            </footer>
        </div>
        <div>
            <%for(let i = 0; i<results.length;i++){%>
            <section class="ml-32 pb-8 text-2xl pt-8 ">
                <h2 class="pb-8 font-semibold">Question <%=i+1%>: 
                    <div class="font-normal">
                        <%=results[i].question%>
                    </div>
                </h2>   
                <h2 class="pb-4 font-semibold">Answer selected:
                    <div class="font-normal">
                        <%=results[i].selected%>
                    </div>
                </h2>
                <h2>
                    <a href="/again/<%=results[i].id%>"><button class="btn btn-accent">Visit Question</button></a>
                </h2>            
            </section>
            <%}%>            
        </div>
    </div>
    <footer class="pt-8 pb-32 flex justify-center">
        <a href="/final"><Button class="btn btn-primary btn-wide">Submit Final Answers</Button></a>
    </footer>
</body>
</html>