<!DOCTYPE html>
<html lang="en" data-theme="winter">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exam</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <h1>Exam # <%= sess %></h1>
    <% const n = Math.floor(Math.random()*bank.length) %>
        <div class="container p-16 pl-40  ">
            <form action="/post/<%=bank[n]._id%>" method="POST">
                <fieldset class="border-4 border-solid bg-cyan-200 rounded-lg border-black "> 
                    <h2 data-id="<%=bank[n].TestQuestion%>" 
                        value="<%=bank[n].TestQuestion%>">Question: <%= bank[n].question %></h2>
                        <div class="question p-4">
                            <div >
                                <label class="label cursor-pointer justify-start" for="a"> 
                                <input type="radio" class="radio radio-primary" name ='answer' id="a" value="<%= bank[n].a %>">
                                <span class="pl-16"><%= bank[n].a %></span> 
                                </label>
                            </div>
                            <div>
                                <label class="label cursor-pointer justify-start" for="b"> 
                                <input type="radio" class="radio radio-primary" name ='answer' id="b" value="<%= bank[n].b %>">
                                <span class="pl-16"><%= bank[n].b %></span> 
                                </label>
                            </div>
                            <div>
                                <label class="label cursor-pointer justify-start" for="c"> 
                                <input type="radio" class="radio radio-primary" name ='answer' id="c" value="<%= bank[n].c %>">
                                <span class="pl-16"><%= bank[n].c %></span> 
                                </label>
                            </div>
                            <div>
                                <label class="label cursor-pointer justify-start" for="d"> 
                                <input type="radio" class="radio radio-primary" name ='answer' id="d" value="<%= bank[n].d %>">
                                <span class="pl-16"><%= bank[n].d %></span> 
                                </label>
                            </div>
                        </div>
                </fieldset>
            <button type="submit" class="btn btn-primary bg-blue-400 mt-8 text-slate-200" >Submit</button>
        </form>
        </div>
    <a href="/profile"><button class="btn btn-primary ">Return Home</button></a>
    <!-- <%- include('./partials/footer'); %> -->
</body>
</html>