<!DOCTYPE html>
<html lang="en" data-theme="winter">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exam</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7333055422426661"
    crossorigin="anonymous"></script>
</head>
    <body class="center">
        <div class="hero min-h-screen bg-base-200">
          <div class="hero-content text-center">
            <div class="max-w-md">
              <h1 class="text-3xl font-bold">Exam #<%=examNumber%> Results</h1>
              <h2 class="text-3xl font-bold pt-8 pb-8">Your total score is <%=total%> %</h2>
              <h2 class="text-9xl font-bold pb-8 <%= total >= 70 ? 'text-emerald-400': 'text-rose-500' %>"><%= total >= 70 ? 'PASS' : 'FAIL' %></h2>
              <a href="/increment/<%=examNumber%>"><button class="btn btn-primary btn-wide">Review Your Exam</button></a>
            </div>
          </div>
        </div>
      </body>
</html>