<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exam</title>
    <link rel="stylesheet" href="/css/style.css"> 
</head>
<body>
    <h1>Results</h1>
    <h1><%=total%></h1>
    <% for(let i=0; i < results.length; i++) {%>
        <h3><%=results[i].question %></h3>
        <div class="<%=results[i].a === results[i].selected ? 'picked' : 'notPicked' %>"><h4 class="<%= results[i].correct === true ? 'correct' : 'wrong' %>"><%=results[i].a %></h4></div>
        <div class="<%=results[i].b === results[i].selected ? 'picked' : 'notPicked' %>"><h4 class="<%= results[i].correct === true ? 'correct' : 'wrong' %>"><%=results[i].b %></h4></div>
        <div class="<%=results[i].c === results[i].selected ? 'picked' : 'notPicked' %>"><h4 class="<%= results[i].correct === true ? 'correct' : 'wrong' %>"><%=results[i].c %></h4></div>
        <div class="<%=results[i].d === results[i].selected ? 'picked' : 'notPicked' %>"><h4 class="<%= results[i].correct === true ? 'correct' : 'wrong' %>"><%=results[i].d %></h4></div>
    <% } %>            

    <a href="/profile"><button>Return Home</button></a>
</body>
</html>