<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exam</title>
    <link rel="stylesheet" href="/css/style.css"> 
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <h1>Exam Results</h1>
    <h1>Your total score is <%=total%> % </h1>
    <% for(let i=0; i < results.length; i++) {%>
        <h3>Question <%=i+1%>: <%=results[i].question %></h3>
        <div class="<%=results[i].a === results[i].selected ? 'picked' : 'notPicked' %>"><h4 class="<%= results[i].correct === true ? 'correct' : 'wrong' %>">A: <%=results[i].a %></h4></div>
        <div class="<%=results[i].b === results[i].selected ? 'picked' : 'notPicked' %>"><h4 class="<%= results[i].correct === true ? 'correct' : 'wrong' %>">B: <%=results[i].b %></h4></div>
        <div class="<%=results[i].c === results[i].selected ? 'picked' : 'notPicked' %>"><h4 class="<%= results[i].correct === true ? 'correct' : 'wrong' %>">C: <%=results[i].c %></h4></div>
        <div class="<%=results[i].d === results[i].selected ? 'picked' : 'notPicked' %>"><h4 class="<%= results[i].correct === true ? 'correct' : 'wrong' %>">D: <%=results[i].d %></h4></div>
    <% } %>            

    <a href="/review"><button class="btn btn-secondary">Return to Past Exams</button></a>
</body>
</html>